{% extends 'sitebase.html' %}

{% load i18n %}
{% load account %}

{% block main %}
<div class="vizew-signin-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="signin-content">
                        <div class="section-heading">
                            <h4>Welcome!</h4>
                            <div class="line"></div>
                        </div>

                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                    
                        <p style="text-align:center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                    
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                            {% csrf_token %}
                            {{ form.email.errors }}
                            {{ form.email }}
                            <input type="submit" class="btn vizew-btn w-100 mt-30" value="{% trans 'Reset My Password' %}" />
                        </form>
                    
                        <p style="text-align:center">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}